body {
  margin: 0;
  padding: 20px;
  
}


/*App컴퍼넌트 넓이가 400px이고, 좌우로 마진을 주어 자동으로 가운데 정렬이 됨  */
.App {
    margin: 0 auto; /*화면상에 남는 부분을 자동으로 margin 설정함*/
    width: 400px;
} 

.App > section {
  background-color: rgb(245, 245, 245);
  border: 1px solid rgb(240, 240, 240);
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 10px;
  
}